@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #162c3b;
  min-height: 100vh;
}
.heading{
  width: 100%;
  /* height: 100%; */
  background: #162c3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading .title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;

  color: #fff;
}
.heading .title h2{
  padding: 30px;
}
.container{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}
.container .card{
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
}
.container .card .imgBx{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3475ca;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
}
/* .container .card .imgBx:before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.05);
  font-weight: 700;
} */

.container .card .imgBx img{
  max-width: 250px;
  /* max-height: 500px; */
  transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx img{
  max-width: 75px;
}
.container .card .content{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .content h3{
  margin-bottom: 5px;
  font-size: 24px;
}

.footer{
  background: #3F8FFC;

  width: 100%;
  height: 80px;


  display: flex;
  align-items:center;
  justify-content:space-around;

}
.footer .text{
  font-size: 12px;
  color: #fff;

}
.footer img{
  max-width: 80px;
  max-height: 80px;
}
.go_home{
  position: fixed;
  left: 20px;
  top: 50px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #3475ca;
  opacity: 0.35;
}
.go_home img{
  width: 50px;
  height: 50px;
}
.go_home:hover, .go_home:focus{
  outline: none;
  z-index: 1;
  transform: scale(1.2);
  opacity: 1;
}
.vk{
  position: fixed;
  left: 20px;
  bottom: 90px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.35;
}
.vk img{
  width: 50px;
  height: 50px;
}
.vk:hover{
  outline: none;
  z-index: 1;
  transform: scale(1.2);
  opacity: 1;
}

.insta{
  position: fixed;
  left: 20px;
  bottom: 160px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.35;
}
.insta img{
  width: 50px;
  height: 50px;
}
.insta:hover{
  outline: none;
  z-index: 1;
  transform: scale(1.2);
  opacity: 1;
}
