<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta author="Yury Yashny" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="contacts.css">
  <title>Contacts</title>
</head>
<body>

<section>
<div class="heading">

  <div class="title">
  <h2>Объединённая Первичная Профсоюзная Организация работников ПАО "Ростелеком" по ЮФО и СКФО</h2>
  <p>Наши координаты:  РФ, 350000, г. Краснодар, ул. Красная, 59.<br><br>
Фактический адрес: г. Краснодар, ул. Комсомольская, 40.
Тел: (861) 267-11-21 <br><br>

Наши реквизиты:

Краснодарское ОСБ 8619 СБ РФ г. Краснодар ул. Гимназическая 65,
к/сч:  30101810100000000602
р/сч:  40703810430000100029
ИНН 2308101460,
КПП 230801001,
БИК 04034960</p>

</div>
 <div class="contacts">
  <div class="card_yuashniy">
    <div class="card_image"></div>
    <div class="card_text">
      <h2>Яшный Юрий Михайлович</h2>
      <p>Председатель ОППО "Ростелеком" по ЮФО и СКФО </p>
    </div>
    <div class="card_contacts">
      <p class="text_contacts">Адрес: 350000, г. Краснодар, ул. Комсомольская, 40,<br>
тел. факс: 8 (861) 267-11-21 <br>Email: u.yuashniy@south.rt.ru</p>
    </div>
  </div>
  <div class="card_mishenko">
    <div class="card_image"></div>
    <div class="card_text">
      <h2>Мищенко Людмила Владимировна</h2>
      <p>Главный бухгалтер ОППО "Ростелеком" по ЮФО и СКФО </p>
    </div>
    <div class="card_contacts">
      <p class="text_contacts">Адрес: 350000, г. Краснодар, ул. Комсомольская, 40,<br>
тел. факс: 8 (861) 267-22-70 <br>Email: glawbuhprof@south.rt.ru</p>
    </div>
  </div>

  <div class="card_gyzyn">
    <div class="card_image"></div>
    <div class="card_text">
      <h2>Гузун Даниел Валентинович</h2>
      <p>Специалист по охране труда ОППО "Ростелеком" по ЮФО и СКФО </p>
    </div>
    <div class="card_contacts">
      <p class="text_contacts">Адрес: 350000, г. Краснодар, ул. Комсомольская, 40,<br>
тел. факс: 8 (861) 267-30-29 <br>Email: Daniel.Guzun@south.rt.ru</p>
    </div>
  </div>
</div>

<!-- Footer -->


<div class="footer">
  <p class="text">2022 © Design & Developed By Senator23 ® </p>
  <div class="senator"> <img src="img\SENATOR23negate.png" alt="senator"> </div>

</div>
</div>
</section>

<a href="#" class="go_home"><img onclick="history.go(-1);" src="img\LeftWhiteArrow.png" alt="arrow"></a>
<a href="https://vk.com/public177133912" class="vk"><img src="img\VK.png" alt="vk"></a>

<a href="https://www.instagram.com/tradeunion.rostelecom.south/" class="insta"><img src="img\insta.png" alt="instagram"></a>



</body>
</html>
